*{
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  color: #eee;
  text-shadow: 0 -1px 0 rgba( 0, 0, 0, .6 );
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  overflow: hidden;
}

p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#viewport {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
  background-image: -o-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
  background-image: -moz-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
  background-image: -webkit-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);
  background-image: -ms-linear-gradient(bottom, rgb(69,132,180) 28%, rgb(31,71,120) 64%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.28, rgb(69,132,180)),
    color-stop(0.64, rgb(31,71,120))
  );
}

#world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;
  height: 512px;
  width: 512px;
  transform: translateX( 0px ) translateY( 0px ) translateZ( 0px );
  /*background-color: rgba( 255, 0, 0, .2 );*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}

#world div {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
}

.cloudBase {
  color: lightgrey;
  font-size: 25px;
  text-align: center;
  background-color: rgba( 255, 0, 255, .5 );
  position: absolute;
  left: 128px;
  top: 128px;
  width: 256px;
  height: 256px;
  border: solid 1px lightgrey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cloudBase:hover {
  background-color: rgba( 180, 0, 200, .5 );
}
